
# SQUID config file
{{- range $cidr := split (getv "/allowed/cidrs" "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16") "," }}
acl localnet src {{$cidr}}
{{- end}}

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl Safe_ports port 3128
acl CONNECT method CONNECT

# Deny requests to certain unsafe ports
http_access deny !Safe_ports
# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
cache_mgr aaa@aaa.com
cachemgr_passwd aaa all
acl all src 0.0.0.0/0.0.0.0
acl manager proto cache_object 
acl localhost src 127.0.0.1
http_access allow localhost manager
http_access allow all manager
http_access deny manager

{{- if ne (getv "/no/whitelist" "false") "true" }}
#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#
acl whitelist dstdomain "/etc/squid/whitelist.txt"
http_access allow whitelist localnet
{{- end }}

#
# INSERT YOUR OWN RULE(S) HERE TO BLOCK ACCESS FROM YOUR CLIENTS
#
acl blacklist dstdomain "/etc/squid/blacklist.txt"
http_access deny blacklist

acl status_200 http_status 200
acl status_301 http_status 301
acl status_302 http_status 302

http_reply_access allow status_301
http_reply_access allow status_302
http_reply_access allow status_200
{{- if ne (getv "/no/whitelist" "false") "true" }}

# And finally deny all other access to this proxy
http_access deny all
{{- end }}

# Squid listener
http_port 0.0.0.0:{{getv "/squid/port" "3128"}}


via off
reply_header_access Server deny all
reply_header_access Proxy-Connection deny all
reply_header_access X-Cache deny all
reply_header_access X-Cache-Lookup deny all
reply_header_access Via deny all
reply_header_access X-Squid-Error deny all


# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256
# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320
# Required to redirect logs to stdout
access_log stdio:/var/log/squid/access.log
shutdown_lifetime {{getv "/shutdown/lifetime" "20"}} seconds