{{- range $region := split (getv "/aws/regions" "eu-west-1") "," -}}
.{{$region}}.amazonaws.com
.s3-{{$region}}.amazonaws.com
{{ end -}}
iam.amazonaws.com
sts.amazonaws.com
support.us-east-1.amazonaws.com
waf.amazonaws.com
cloudfront.amazonaws.com
route53.amazonaws.com
route53domains.us-east-1.amazonaws.com
devicefarm.us-west-2.amazonaws.com
importexport.amazonaws.com
{{ with $whitelist := (getv "/squid/whitelist" "%") -}}
{{ if and (ne $whitelist "%") (ne $whitelist "") -}}
{{- range $entry := split $whitelist "," -}}
{{$entry}}
{{ end -}}
{{- end -}}
{{- end -}}